<div id="table-container">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Категория</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>#</td>
            <td><input id="name" class="input_green"/></td>
            <td><input id="price" class="input_green"/></td>
            <td>
                <button class="button button-save" onclick="sendAjax()">Сохранить</button>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<script type="text/javascript">
    function sendAjax() {
        var name = $('#name').val();
        if (!name) return;

        var price = $('#price').val();
        if (!price) return;

        var request = $.ajax({
            url: '{{ path('add_price_category_action') }}',
            type: 'POST',
            data: {
                'name': name,
                'price': price
            }
        });

        request.done(function (data) {
            if (data.status == 'ok') {
                back();
            }
        });

        request.fail(function (data) {
            showDialog('Ошибка с сервера', data.responseJSON.errors);
        });
    }
</script>